<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cider Remote.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NowPlayingExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9CDA8392CC686AA00FBF580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA14E3462C7CA1C200904A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA14E3562C7CA1C300904A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA14E3602C7CA1C300904A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
